.DELETE {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  // position
  background-color: #FFF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  // sizing
  width: 56%;
  height: fit-content;
  padding: 2%;
  border: 1px solid #777777;
  word-break: break-all;

  h1 {
    margin: 0 0 3% 0;
  }
  section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
      color: #000;
      margin: 0 1rem;
      border: 1px solid #777777;
      background-color: #FFF;
      &:hover {
        border: 1px solid #000;
      }
    }
  }
}